# id -u, id -g
CURRENT_USER_ID=<>
CURRENT_USER_GROUP_ID=<>

SERVICES_SUBNET=<xx.xx.xx.xx>

LOGROTATE_IP=<static IP from svc-subnet>
NGINX_PROXY_MANAGER_IP=<static IP from svc-subnet>
DNSMASQ_IP=<static IP from svc-subnet>
SQUID_IP=<static IP from svc-subnet>
SQUID_PORT=<xxxx>