# id -u, id -g
CURRENT_USER_ID=<>
CURRENT_USER_GROUP_ID=<>

# this is docker subnet, no intersection with local host
SERVICES_SUBNET=<xx.xx.xx.xx> # e.g. 192.168.11.0/20

LOGROTATE_IP=<static IP from svc-subnet>
NGINX_PROXY_MANAGER_IP=<static IP from svc-subnet> # e.g. 192.168.11.1
DNSMASQ_IP=<static IP from svc-subnet> # e.g. 192.168.11.2
SQUID_IP=<static IP from svc-subnet> # e.g. 192.168.11.3
SQUID_PORT=<xxxx> # 3128 by default
CADVISOR_IP=<static IP from svc-subnet> # e.g. 192.168.11.4

DOMAIN_NAME=<your-domain.tld> # domain you want to forward to local host